<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Slick Login</title>
<meta name="description" content="netdisk admin Login">
<meta name="author" content="admin">
<link rel="stylesheet" type="text/css" href="Public/CSS/style.css" />
<script type="text/javascript" src="Public/JS/jquery-latest.min.js"></script>
<script src="Public/JS/modernizr-latest.js"></script>
<script type="text/javascript" src="Public/JS/placeholder.js"></script>
</head>
<body>
<form id="slick-login" action="index/login" method="post">
	<label for="username">username</label><input type="text" name="username" class="placeholder" placeholder="admin">
	<label for="password">password</label><input type="password" name="password" class="placeholder" placeholder="password">
	<input type="submit" value="Log In">
</form>
</body>
</html>